.App {
  text-align: center;
}

.text-orange {
  color: #fe753f;
}
.monimage {
  width: 700px;
  height: 500px;
}
.form {
  height: 800px;
}
.formulaire{
  position: relative;
  border-radius: 25px;
  left: 50px;

}
input {
  width: 500px;
  height: 50px;
}
.txt {
  position: relative;
  left: -120px;
  top: -50px;
}
.Btn {
  position: relative;
  top: -20px;
}
.btn-login {
  width: 500px;
  height: 50px;
  background-color: #0d6efd;
  color: #fff;
  border: none;
}

.icon {
  font-size: 30px;
}
.txte {
  color: #fff;
}
.txte1{
  position: relative;
  top: -30px;
}
.forms {
  height: 920px;
}
.divider {
  display: flex;
  align-items: center;
  margin: 15px 0;
  justify-content: center;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #ccc;
  max-width: 200px;
}

.separator {
  padding: 0 9px;
  font-weight: bold;
}

.visibilite {
  position: relative;
  left: 555px;
  top: -61px;
  bottom: 0px;
  right: 0px;
  width: 40px;
  border: none;
}

.Visibilite {
  position: relative;
  left: 555px;
  top: -45px;
  bottom: 0px;
  right: 0px;
  width: 40px;
  border: none;
}
.visibilite i {
  background-color: none;
  border: none;
}
.classes {
  position: relative;
  left: 57px;
  top: -3px;
  height: 46px;
}
.classe {
  position: relative;
  left: 57px;
  top: 13px;
  height: 46px;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}
.App {
  text-align: center;
}

/*  NAVBAR */
.nav-link {
  font-weight: 500;
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #EC7732;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #EC7732;
}
.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
  color: #0d6efd;
}

.Login-button:hover {
  background-color: #fe753f;
  color: #fff;
}

/*  NAVBAR END */







/* Navbar */
.Nav {
  height: 80px;
}
.Top {
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #EC7732;
}





@media (max-width: 768px) {
  input {
    width: 90%; 
  }

  .form {
    height: auto; 
  }

  .divider {
    flex-direction: column; 
  }

  .classes {
    margin-left: 0;
  }
  .navbar-nav {
    flex-direction: column; 
    width: 100%; 
  }

  .nav-link {
    text-align: center; 
    padding: 15px 0; 
  }

  .Login-button {
    width: 100%; 
    margin-top: 10px; 
  }
  .forms {
    max-height: auto; 
    padding: 10px; 
  }

  .visibilite {
    left: 80%;
    transform: translateX(-50%); 
  }

    .Nav {
      flex-direction: column; 
      height: auto; 
      padding: 10px; 
    }
  }

