/*  NAVBAR */
.container-fluide{
  background-color: #fff;
}
.container-fluide1{
  top: -5px; left: 15px; height: 20px; min-width: 20px;
}
.logo{
  width: 100px;
  height: 40px;
}
.entete-navbar{
  background-color: #EC7732;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.navbar .btn{
   border: 1px solid #EC7732!important;
   outline: #EC7732!important;
   color: #EC7732;
}
.learning{
  width: 100px;
  height:40px
}


/*  NAVBAR END */
/* Page D'accueil*/

