* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.section-header .section-title {
  color: #150800;
}
.newsletter-inputs input {
  height: 60px;
  width: 450px;
  border: 0.5px solid rgb(215, 215, 215);
}
.bTN {
  height: 60px;
  width: 120px;
  background: linear-gradient(90deg, #f48d00 0%, #f73e00 100%);
  color: white;
  border: none;
}
.form-select {
  height: 63px;
}
@media only screen and (max-width: 767px) {
  h2,
  .section-header .section-title {
    font-size: 30px;
    line-height: 42px;
    margin-top: -8px;
  }
}
.contact .contact-map {
  border-radius: 5px;
}
.contact-map iframe {
  border: 0px;
}
.contact-form .group #selectCourse {
  display: none;
}
.thank-you p {
  display: none;
}
.row-margin .col-margin {
  margin-bottom: 30px;
}
@media only screen and(max-width: 768px) {
  .contact .contact-content-group {
    display: block !important;
    width: 100% !important;
  }
}
@media only screen and(max-width: 425px) {
  .contact-content-group {
    display: block !important;
    width: 100% !important;
    margin: 0px 10px;
  }
  .contact-content-group-item h5 {
    font-size: normal;
  }
  .contact-newsletter .cmn-button {
    border-radius: 5px;
  }
  .contact-newsletter input {
    border-radius: 5px 5px 5px 5px !important;
  }
}
@media only screen and(max-width: 991px) {
  .contact .contact-map iframe {
    height: 800px !important;
    max-width: 200px !important;
    margin-right: 30px;
  }
  .contact .contact-content-group .contact-content-group-item {
    width: 400px;
    height: 500px;
    padding: 0px;
  }
  .contact .row-margin {
    align-items: center !important;
  }
  p,
  th,
  td,
  li,
  input,
  textarea,
  select,
  label,
  blockquote,
  span {
    font-size: 16px;
    line-height: 28px;
  }
  .contact-form .nice-select {
    height: 60px;
    line-height: 60px;
  }
}
.contact-content h4 {
  margin-bottom: 40px;
}
.contact-content .contact-content-group-item {
  padding: 30px 20px;
  background: #fff7f4;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  width: calc(50% - 12px);
}
@media only screen and (max-width: 575px) {
  h4 {
    font-size: 20px;
    line-height: 30px;
    margin-top: -5px;
  }
  h5 {
    font-size: 18px;
    line-height: 24px;
    margin-top: -4px;
  }
}
.text-center {
  text-align: center !important;
}
@media only screen and (max-width: 767px) {
  .contact .contact-form {
    padding-top: 80px;
  }
}
.contact-form h2 {
  margin-bottom: 24px;
  color: #000000;
}
@media only screen and (max-width: 575px) {
  h2,
  .sectiontitle {
    font-size: 26px;
    line-height: 34px;
    margin-top: -5px;
  }
}
.contact-form form .single-input {
  padding: 0px;
  margin-bottom: 15px;
  position: relative;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid transparent;
}
.contact-form .single-input {
  padding: 0px;
  margin-bottom: 15px;
  position: relative;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid transparent;
}
.contact-form .single-input small {
  color: #e74c3c;
  position: absolute;
  bottom: 0px;
  left: 0px;
  visibility: hidden;
}
.contact-form .single-input input {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 14px 30px;
}
.contact-form .single-input textarea {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 14px 30px;
}
.small,
small {
  font-size: 0.875em;
}
p,
th,
td,
li,
input,
textarea,
select,
label,
blockquote,
span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-top: -7px;
  color: #2d1100;
  font-family: "Roboto", sans-serif;
}
.contac-form .nice-select {
  height: 62px;
  line-height: 62px;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #dbd7d7;
}
@media (max-width: 767px) {
  .contact .contact-form .group {
    flex-direction: column;
    gap: 0px;
  }
}
.contact-form .nice-select .list {
  width: 100%;
}
.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.contact-form .nice-select:focus {
  border: 1px solid #dbd7d7;
}
@media only screen and (max-width: 991px) {
  .contact .contact-form .nice-select {
    height: 60px;
    line-height: 60px;
  }
}
.contact-form .nice-select {
  height: 62px;
  line-height: 62px;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #dbd7d7;
}
.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #999;
}
.nice-select:hover {
  border-color: #dbdbdb;
}
.nice-select {
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
}
ul,
ol {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
@media only screen and (max-width: 575px) {
  .cmn-button {
    padding: 15px 20px;
  }
}

.cmn-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #ffffff;
  padding: 15px 30px;
  background-color: #f5920c;
  background-image: linear-gradient(90deg, #f48d00 0%, #f73e00 100%);
  background-size: 100% 100%;
  border-radius: 5px;
}
