.Banner {
    position: relative;
    background-color: #FEFAF3;
    height: 350px;
}
.BANNER{
    position: relative;
    top: 190px;
}

.about-thumb {
    background-color: white;
    position: relative;
    top: 330px;
}
.milestone {
    position: relative;
    top: 350px;
    background-color: #FEFAF3;
    height: 450px;
}
.milestone__thumb{
    position: relative;
    top: -350px;
}

.Counter{
 position: relative;
 top: 350px;
 height: 600px;
 background-color: #4A1C01;
}
.Footer{
    position: relative;
    top: 650px;
    background-color: #4A1C01;
    color: white;
}
.Newsletter{
    position: relative;
    top: 650px;
}

.Sct{
    position: relative;
    top: 350px;
    background-color: #FEFAF3;
    height: 700px;
}

.faq{
    position: relative;
    top: 450px;
    background-color: white;
}
.BannerI {
    position: relative;
    background-color: #FEFAF3;
    height: 400px;
}
.contact__form{
    position: relative;
    top: 300px;
}
.group select{
     width: 500px;
     height: 50px;
}
.single-input textarea{
    width: 1160px;
}

.btn-area Button{
    width: 200px;
    height: 60px;
    border: none;
    background-color: #F65300;
    color: white;
}
.contact__form h1{
    font-size: 50px;
}
.banner__content h2{
    font-size: 50px;
}
.Carte{
    position: relative;
    top: 400px;
}
.contact__content{
    position: relative;
    top: -110px;
}
.contact__content h4{
    font-size: 40px;
}
.contact__content li{
    list-style-type: none;
}
.Contact-Content{
    border: 1px solid rgb(206, 201, 201);
    border-radius: 20px;
    width: 280px;
    height: 150px;
    background-color: #FFF7F4;
}
.contact-content{
    border: 1px solid rgb(242, 237, 237);
    border-radius: 20px;
    width: 280px;
    height: 150px;
    background-color: #F8FFFF;
}
.content-group{
    border: 1px solid rgb(226, 220, 220);
    border-radius: 20px;
    width: 280px;
    height: 150px;
    background-color: #FAF8FF;
}
.Offset{
    position: relative;
    top: 120px;
}