<!DOCTYPE html>
<html lang="en">
<%- include('../pages/head.ejs') %>
  

  <body class="bg-black d-flex justify-content-center align-items-center" style="
      background-image: url('/assets/img/background.png');
      background-position: center;
      background-size: cover;
    ">
    <div class="d-flex flex-column  border border-primary rounded-4" style="
        /* background: rgba( 177, 170, 245, 0.25 ); */
        background-color: white;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      ">
      <div class="text-center">
        <img src="/assets/img/e-learning.png" class="img-fluid w-25" alt="" />
        <p class="text-center">Connectez-vous pour accéder à tous les cours et ressources.</p>
      </div>
      <div class="px-5 text-black">
        <% if (typeof error !== 'undefined') { %>
          <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
        <% } %>
        <form action="/authentification/login" method="POST">

          <div class="mb-3 ">
            <label for="email" class="form-label">Adresse email</label>
            <input type="email" class="form-control" name="email" id="email" required/>
            <div id="emailHelp" class="form-text">
              Votre email ne sera jamais partagé.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" name="password" class="form-control" id="password" required />
          </div>
          <div class="mb3">
            <a href="/authentification/forgot-password">
              <p style="color: #FB924F;">Mot de passe oublié ?</p>
            </a>
          </div>
          
          <p class="text-center">Pas encore de compte? <a href="/authentification/register">Créer un compte</a></p>
          <div class=" d-flex justify-content-center align-items-center">

            <button type="submit" class="btn rounded-3 text-white mb-3"
              style="background-color: #FB924F">connexion</button>
          </div>
        </form>


      </div>
    </div>
  </body>

</html>