<!DOCTYPE html>
<html lang="en">
<%- include('../pages/head.ejs') %>


  <body class="bg-black d-flex justify-content-center align-items-center" style="
      background-image: url('/assets/img/background.png');
      background-position: center;
      background-size: cover;
    ">
    <div class="d-flex flex-column  border border-primary rounded-4" style="
        /* background: rgba( 177, 170, 245, 0.25 ); */
        background-color: white;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      ">
      <div class="text-center">
        <img src="/assets/img/E-Learning.png" class="img-fluid w-25" alt="" />
        <p class="text-center">Connectez-vous pour accéder à tous les cours et ressources.</p>
      </div>
      <div class="px-5 text-black">
        <div id="error-message" class="alert alert-danger d-none" role="alert"></div>
        <!-- Div pour afficher les erreurs -->

        <form id="loginForm">
          <div class="mb-3 ">
            <label for="email" class="form-label">Adresse email</label>
            <input type="email" class="form-control" name="email" id="email" required />
            <div id="emailHelp" class="form-text">Votre email ne sera jamais partagé.</div>
          </div>
          <div class="mb-3 position-relative">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" name="password" class="form-control" id="password" autocomplete="current-password"
              required />
            <i class="far fa-eye position-absolute" id="togglePassword"
              style="cursor: pointer; right: 10px; top: 40px;"></i>

          </div>
          <div class="mb3">
            <a href="/authentification/forgotPassword">
              <p style="color: #FB924F;">Mot de passe oublié ?</p>
            </a>
          </div>

          <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn rounded-3 text-white mb-3"
              style="background-color: #FB924F">connexion</button>
          </div>
          <p class="text-center">Pas encore de compte? <a href="/authentification/register">Créer un compte</a></p>
        </form>
      </div>
    </div>

    <!-- Script de gestion de la connexion sans cookie avec affichage des erreurs -->
    <script>
      // Gestion du toggle pour afficher/masquer le mot de passe
      const togglePassword = document.querySelector('#togglePassword');
      const passwordField = document.querySelector('#password');

      togglePassword.addEventListener('click', function () {
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
      });

      // Gestion du formulaire de connexion
      document.getElementById('loginForm').addEventListener('submit', async function (e) {
        e.preventDefault();

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const errorMessage = document.getElementById('error-message'); // Sélectionner la div d'erreur

        fetch('/authentification/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email, password })
        })
          .then(response => response.json())
          .then(data => {
            if (data.error) {
              alert(data.error);
            } else {
              localStorage.setItem('token', data.token);
              localStorage.setItem('user', JSON.stringify(data.user));
              // Rediriger vers la page dashboard ou une autre page protégée
              window.location.href = '/dash';
            }
          })
          .catch(error => console.error('Erreur lors de la connexion:', error));

      });

    </script>

  </body>

</html>