<!DOCTYPE html>
<html lang="en">
<%- include('../pages/head.ejs') %>

<body class="bg-black d-flex justify-content-center align-items-center" style="
    background-image: url('/assets/img/background.png');
    background-position: center;
    background-size: cover;
  ">
  <div class="d-flex flex-column border border-primary rounded-4" style="
      background-color: white;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    ">
    <div class="text-center">
      <img src="/assets/img/e-learning.png" class="img-fluid w-25" alt="" />
      <p class="text-center">Réinitialisez votre mot de passe.</p>
    </div>
    <div class="px-5 text-black">
      <% if (typeof error !== 'undefined') { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
      <form action="/authentification/resetPassword/<%= token %>" method="POST">
        <div>
            <label for="password" class="form-label">Nouveau mot de passe</label>
            <input type="password" name="password" class="form-control"  required>
        </div>
        <div>
            <label for="confirmPassword"  class="form-label">Confirmer le mot de passe</label>
            <input type="password" name="confirmPassword"  class="form-control" required>
        </div>
        <button type="submit"  class="btn rounded-3 text-white my-3"
        style="background-color: #FB924F">Réinitialiser le mot de passe</button>
    </form>
    
    </div>
  </div>
</body>

</html>
