.Banner {
  position: relative;
  background-color: #fefaf3;
  height: 350px;
}
.BANNER {
  position: relative;
  top: 190px;
}
.newsletter-inputs input {
  width: 600px;
}
.faq {
  height: 900px;
  background-color: white;
}
.Newsletter{
  background-color: white;
  height: 750px;
}