
/* FOOTER */
.footer{
  background-color: #4A1C01;
}
.footer-item a i{
  color: #EC7732;
}
.footer .border-bottom{
  border-color: #EC7732!important;
}
.section-title1{
  color: #FFF;
}
@media only screen and(max-width: 768px){
   .footer .footer-item{
      margin: 0px!important;
      margin-bottom: 10px!important;
   }
   .footer{
      margin-bottom: 10px!important;
   }
   .container-fluid-footer{
      padding-bottom: 30px!important;
   }
   .footer .container-fluid{
      padding: 0px;
   }
}
.footer .col-lg-3 a{
  color: #FFF;
}
.footer .col-lg-3 p{
  color: #FFF;
}
.footer .col-lg-3 h2{
  color: #FFF;
}
.footer .logo{
  width: 100px;
  height: 40px;
}
.footer .col-lg-3 span{
  color: #EC7732;
}
footer .copyright i{
    color: #EC7732
}
footer .copyright p{
    font-size: 13px;
    color: #fff;
}
footer .copyright a{
    font-size: 13px;
    color: #fff;
}
footer .copyright i{
    font-size: 13px;
}
footer .copyright a:hover{
    color: #EC7732;
}