.Banner {
  position: relative;
  background-color: #fefaf3;
  height: 350px;
}
.BANNER {
  position: relative;
  top: 190px;
}

.about-thumb {
  background-color: white;
}
.milestone {
  background-color: #fefaf3;
  height: 500px;
}

.IMGE {
  width: 400px;
  height: 400px;
}

.Counter {
  height: 450px;
  background-color: #4a1c01;
}

.newsletter-inputs input {
  width: 600px;
}

.Sct {
  background-color: #fefaf3;
  height: 700px;
}

/* @media (max-width: 992px) {
    .banner__content {
      text-align: center; 
    }
  
    .banner__breadcrumb {
      justify-content: center; 
    }
  }
  
  /* Pour les écrans jusqu'à 576px (mobiles) 
  @media (max-width: 576px) {
    .BANNER {
      padding: 1rem 0; 
    }
  
    .banner__content {
      font-size: 1.5rem; 
    }
  
    .breadcrumb {
      font-size: 0.9rem; 
    }

    .about-thumb {
      padding: 1rem 0; 
    }
  
    .about__content h1 {
      font-size: 1.5rem; 
    }
  
    .para {
      font-size: 0.9rem; 
    }
  
    .milestone__content h2 {
      font-size: 1.5rem; 
    }
  
    .milestone__content p {
      font-size: 0.9rem; 
    }
  
    .BTN {
      width: 100%;
      margin-top: 1rem; 
    }

    .Counter {
      padding: 1rem 0; 
    }
  
    .section__title {
      font-size: 1.5rem; 
    }
  
    .counter__single {
      margin-bottom: 1rem; 
    }
  
    .counter-number {
      font-size: 2.5rem;
    }
  
    .PG {
      font-size: 0.9rem; 
    }
  }
   */
