/*  NAVBAR */
.learning{
    width: 100px;
    height:40px
  }
  .navbar .cmn-button--secondary{
    color: #2d1100!important;
    background: #ffffff!important;
    border: 1px solid #d3d3d3!important;
  }
  .navbar .cmn-button{
    font-weight: 700;
    color: #ffffff;
    padding: 15px 30px;
    background-color: #f5920c;
    background-image: linear-gradient(90deg, #f48d00 0%, #f73e00 100%);
    background-size: 100% 100%;
    border-radius: 5px;
  }
  .navbar-toggler{
    border: none;
    font-size: 1.25rem;
  }
  .navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
  }
  .nav-link{
    color: #333;
    font-weight: 500;
    position: relative;
  }
  .navbar-nav .nav-link.active{
    color: #EC7732;
  }
  .navbar-nav .nav-link.show{
    color: #EC7732;
  }
  .nav-link:hover{
    color: #EC7732;
  }
  .nav-link.active{
    color: #EC7732;
  }
  /*.navbar Button{
    border-radius: 5px;
    border: 1px solid #EC7732;
    color: #EC7732;
    padding: 10px;
    background-color: #fff;
  }
  .navbar .cmn-button--secondary:hover{
    background: linear-gradient(to right,#f8a97b,#EC7732)!important;
    color: white!important;
  }  */
  
  @media screen and ( min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: #EC7732;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .dropdown-menu{
      background-color: #bbb;
  }
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
    .dropdown .nav-link:hover::before,  .dropdown .nav-link.active::before{
        display: none;
    }
    .offcanvas-body  Button{
        display: none;
    }
    
  }
  @media screen and (max-width: 768px){
    .offcanvas-body{
        background-color: #333;
    }
    .offcanvas-body .nav-link{
      color: #fff;
    }
    .offcanvas-body  Button{
        display: block;
    }
    .bouton-dn Button{
        display: none!important;
    }
   
  }
  /*      NABAR FIN */