.learning {
  width: 140px;
  height: 70px;
}
.navbar .cmn-button--secondary {
  color: #2d1100 !important;
  background: #ffffff !important;
  border: 1px solid #d3d3d3 !important;
}
.Login-button{
  height: 60px;
  width: 150px;
  border: 2px solid rgb(238, 233, 233);
  border-radius: 70px;
  background-color: white;
}
.Login-button:hover {
  background-color: #fe753f;
  color: #fff;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}


.linkk{
  position: relative;
  top: 5px;
  text-decoration: underline;
  color: #fe753f;
}
/* Visited link */
.nav-link:visited {
  color: black;
}

/* Hover link */
.nav-link:hover {
  color: orange;
}
/* Active link */ 
.navbar-nav .nav-link.active {
  color: #f73e00;

  font-weight: bold;
}

.nav-link:hover {
  color: #f73e00;
}

@media screen and(min-width:768px) {
}

@media only screen and(max-width: 991px) {
  .nav-link {
    line-height: normal;
    font-size: 12px;
    padding: 10px;
    margin: 10px;
  }
  .navbar .cmn-button {
    font-weight: 600;
    color: #ffffff;
    padding: 10px 15px;
  }
  .navbar {
    width: 100%;
    align-items: center;
  }
  .navbar .offcanvas {
    width: 50%;
  }
  .navbar .navbar-brand {
    width: 25%;
    margin: 0px 50px 0px 0px;
    justify-content: start;
  }
  .navbar .bouton-dn {
    width: 25%;
  }
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.nav-link {
  color: #333;
  font-weight: 500;
  position: relative;
}
.navbar-nav .nav-link.active {
  color: #f73e00;
}
.navbar-nav .nav-link.show {
  color: #f73e00;
}
.nav-link:hover {
  color: #f73e00;
}
.nav-link.active {
  color: #f73e00;
}
.navbar .cmn-button--secondary:hover {
  background: linear-gradient(90deg, #f48d00 0%, #f73e00 100%);
  color: white !important;
}


@media screen and (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #f73e00;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .dropdown-menu {
    background-color: #bbb;
  }
  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
  .dropdown .nav-link:hover::before,
  .dropdown .nav-link.active::before {
    display: none;
  }
  .offcanvas-body Button {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .offcanvas-body {
    background-color: #333;
  }
  .offcanvas-body .nav-link {
    color: #fff;
  }
  .offcanvas-body Button {
    display: block;
  }
  .bouton-dn Button {
    display: none !important;
  }
}
/*      NABAR FIN */